</article>
<footer class="footer">
  <div class="row">
    <div class="span4"
         vocab="http://xmlns.com/foaf/0.1/"
	 typeof="Person"
	 resource="{{site.url}}#me">
      <a property="account" href="mailto:{{site.author.email}}" >
      <img src="{{site.url}}/assets/img/icon-email.png" alt="email" /> </a>
      <a property="account" href="https://twitter.com/{{site.author.twitter}}" >
      <img src="{{site.url}}/assets/img/icon-twitter.png" alt="twitter" /> </a> 
      <a property="account" href="https://github.com/{{site.author.github}}" >
      <img src="{{site.url}}/assets/img/icon-github.png" alt="github" /> </a> 
      <a property="account" href="http://www.mendeley.com/profiles/{{site.author.mendeley}}" >
      <img src="{{site.url}}/assets/img/icon-mendeley.png" alt="mendeley" /></a> 
      <a href="{{ site.url }}/atom.xml" >
      <img src="/assets/img/icon-rss.png" alt="feed" /></a>
    </div>
</div>
</footer>
</div><!-- /container -->
    
    {% include javascript.html %}
    {% include analytics.html %}
  </body>
</html>
