<!-- HTML5 metadata -->
<meta name="keywords" content="{{ site.keywords }}" />
<meta name="description" content="{{ site.description }}" />
<!-- RDFa Metadata (in DublinCore) -->
<meta property="dc:title" content="{{ page.title }}" />
<meta property="dc:creator" content="{{ site.author.name }}" />
<meta property="dc:date" content="{{page.date | date_to_xmlschema }}" />
<meta property="dc:type" content="Lab Notebook Entry" /> <!-- article? entry?-->
<meta property="dc:format" content="text/html" />
<meta property="dc:language" content="en" />
<meta property="dc:source" content="{{ site.title }}" />
